<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <span class="navbar-brand">Julia Wilson</span>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a>About</a></li>
        <li><a>Academics</a></li>
        <li><a>Athletics</a></li>
        <li><a>Extracurricular</a></li>
        <li><a>Highlight reel</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" rbDropdown>
          <a
            class="dropdown-toggle"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><span class="glyphicon glyphicon-send" aria-hidden="true"><a class="dropdown-item">julia@georgeschool.org</a></span></li>
            <li><span class="glyphicon glyphicon-earphone" aria-hidden="false"><a class="dropdown-item">610-301-2989</a></span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header">-->
      <!--<a class="navbar-brand">Recipe Book</a>-->
    <!--</div>-->

    <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li><a>Recipes</a></li>-->
        <!--<li><a>Shopping List</a></li>-->
      <!--</ul>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li class="dropdown" rbDropdown>-->
          <!--<a-->
            <!--class="dropdown-toggle"-->
            <!--role="button"-->
            <!--aria-haspopup="true"-->
            <!--aria-expanded="false">Recipe Management <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a (click)="onStore()" style="cursor: pointer;">Store Recipes</a></li>-->
            <!--<li><a (click)="onFetch()" style="cursor: pointer;">Retrieve Recipes</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
